#blue-button-4{
    margin-left: 595px;
    margin-top: 210px;
  }
  
  #brown-button-2{
    margin-left: 600px;
    margin-top: 398px;
  }

  #legende{ 
    position: absolute;
    margin-top: 715px;
    margin-left: 5px;
    width: 320.5px;
    height: 182.8px;
  }