.navbar-logo {
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.yellow-text {
    color: #fbd42c !important;
}

.body-background {
    background-color: #5b342e;
    background-image: url("../assets/background-min.jpeg");
    background-size: cover;
    background-position: center;
}
.footer-beer {
    bottom:0;
    width:100%;
    height: fit-content;   /* Height of the footer */
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
    /* background-color: rgba(0, 0, 0, .3); */
}

.footer-icons {
    color: white;
}
footer.a {
    color: white;
}

.beer-class{
    color: #D2B48C;
    font-variant: small-caps;
}

.timeModal {
    overflow: auto;
    width: 100%;
    height: 100%;
    min-width: 2000px;
}
.timeImage {
  margin: auto;
  display: block;
  width: 80%;
  min-width: 700px;
}

#Timesheet .modal-body{
    overflow: auto;
}

.slide:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .slide {
    min-width: 120px;
    padding: 0 25px;
  }
}
  .slide {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #351e1b;
    border-radius: 30px;
    box-shadow: #351e1b 3px 3px 0 0;
    color: #351e1b;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.slide:hover {
  background-color: rgba(255, 255, 255, 0.089);
}

