.navbar-logo {
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.yellow-text {
    color: #fbd42c !important;
}

.body-background {
    /* background-image: url("../assets/home_background_slecht.JPG");  */
    background-color: #bea087;
    /* background-size: cover; */
}
.footer-beer {
    bottom:0;
    width:100%;
    height: fit-content;   /* Height of the footer */
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.footer-icons {
    color: white;
}
footer.a {
    color: white;
}