.navbar-logo {
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.yellow-text {
    color: #fbd42c !important;
}

.body-background {
    background-image: url("../assets/background.jpg");
    background-blend-mode: multiply !important;
    background-color: #5b342e;
    background-size: cover;
    background-position: center;
}
.footer-beer {
    bottom:0;
    width:100%;
    height: fit-content;   /* Height of the footer */
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
    /* background-color: rgba(0, 0, 0, .3); */
}

.footer-icons {
    color: white;
}
footer.a {
    color: white;
}