
  
  
  #button-19{
    margin-left: 45px;
    margin-top: 212px;
  }

  #button-20{
    margin-left: 175px;
    margin-top: 140px;
  }

  #legende{ 
    position: absolute;
    margin-top: 670px;
    margin-left: 5px;
    width: 320.5px;
    height: 182.8px;
  } 