 #button-36{
    margin-left: 500px;
    margin-top: 185px;
  }

  #brown-button-4{
    margin-left: 680px;
    margin-top: 550px;
  }

  #brown-button-5{
    margin-left: 180px;
    margin-top: 175px;
  }

  #brown-button-6{
    margin-left: 640px;
    margin-top: 220px;
  }

  #legende{ 
    position: absolute;
    margin-top: 475px;
    margin-left: 5px;
    width: 320.5px;
    height: 182.8px;
  } 